<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="CartSidebar w-[1440px] h-[1491px] relative bg-white">
    <div class="Rectangle14 w-[1440px] h-[60px] left-0 top-0 absolute bg-white border border border border border-zinc-300"></div>
    <div class="Vivavents left-[47px] top-[9px] absolute text-red-500 text-[33px] font-bold lowercase">VivaVents</div>
    <div class="UpcomingEvents left-[65px] top-[171px] absolute text-indigo-950 text-[33px] font-bold">Upcoming events</div>
    <div class="ChefMediaLtd left-[65px] top-[104px] absolute text-red-500 text-[33px] font-bold">CHEF MEDIA LTD</div>
    <div class="PreviousEvents left-[65px] top-[748px] absolute text-indigo-950 text-[33px] font-bold">Previous events</div>
    <div class="Rectangle15 w-[550px] h-[42px] left-[253px] top-[9px] absolute bg-stone-900 bg-opacity-10 rounded"></div>
    <div class="SearchEvents left-[308px] top-[16px] absolute text-stone-900 text-opacity-40 text-[20px] font-semibold">Search events</div>
    <div class="Group25 w-12 h-[30px] left-[1307px] top-[15px] absolute">
      <div class="Group24 w-[30px] h-[30px] left-0 top-0 absolute">
      </div>
      <div class="Ellipse2 w-5 h-5 left-[28px] top-[5px] absolute bg-white rounded-full border border-red-500"></div>
      <div class=" left-[32px] top-[4px] absolute text-black text-[18px] font-bold lowercase">2</div>
    </div>
    <div class="Rectangle28 w-[1440px] h-[220px] left-0 top-[1271px] absolute bg-indigo-950"></div>
    <div class="BuyTickets left-[47px] top-[1318px] absolute text-white text-[20px] font-bold">BUY TICKETS</div>
    <div class="SellTickets left-[423px] top-[1318px] absolute text-white text-[20px] font-bold">SELL TICKETS</div>
    <div class="ContactUs left-[808px] top-[1318px] absolute text-white text-[20px] font-bold">CONTACT US</div>
    <div class="YourAccount left-[1178px] top-[1318px] absolute text-white text-[20px] font-bold">YOUR ACCOUNT</div>
    <div class="Vivavents left-[640px] top-[1446px] absolute text-red-500 text-[33px] font-bold lowercase">VivaVents</div>
    <div class="Group35 w-[1309px] h-[433px] left-[65px] top-[238px] absolute">
      <div class="Group27 w-[310px] h-[433px] left-0 top-0 absolute">
        <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
        <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
        <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
        <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
        <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
        <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
        <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
        <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
      </div>
      <div class="Group28 w-[310px] h-[433px] left-[333px] top-0 absolute">
        <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
        <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
        <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
        <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
        <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
        <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
        <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
        <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
      </div>
      <div class="Group29 w-[310px] h-[433px] left-[666px] top-0 absolute">
        <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
        <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
        <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
        <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
        <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
        <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
        <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
        <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
      </div>
      <div class="Group30 w-[310px] h-[433px] left-[999px] top-0 absolute">
        <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
        <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
        <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
        <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
        <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
        <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
        <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
        <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
      </div>
    </div>
    <div class="Group36 w-[1309px] h-[433px] left-[65px] top-[815px] absolute">
      <div class="Group31 w-[310px] h-[433px] left-0 top-0 absolute">
        <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
        <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
        <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
        <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
        <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
        <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
        <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
        <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
      </div>
      <div class="Group32 w-[310px] h-[433px] left-[333px] top-0 absolute">
        <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
        <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
        <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
        <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
        <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
        <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
        <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
        <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
      </div>
      <div class="Group33 w-[310px] h-[433px] left-[666px] top-0 absolute">
        <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
        <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
        <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
        <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
        <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
        <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
        <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
        <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
      </div>
      <div class="Group34 w-[310px] h-[433px] left-[999px] top-0 absolute">
        <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
        <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
        <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
        <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
        <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
        <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
        <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
        <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
      </div>
    </div>
    <div class="Rectangle38 w-[745px] h-[1491px] left-0 top-0 absolute bg-zinc-300 bg-opacity-10 backdrop-blur-[61px]"></div>
    <div class="Rectangle37 w-[800px] h-[1495px] left-[639px] top-0 absolute bg-white rounded border border border border border-red-500"></div>
    <div class="Rectangle35 w-[686px] h-[55px] left-[698px] top-[367px] absolute bg-zinc-300 rounded-md"></div>
    <div class="Subtotal left-[721.57px] top-[376.17px] absolute text-black text-[26.190475463867188px] font-semibold">SUBTOTAL</div>
    <div class="Kes2300 left-[1232.10px] top-[376.17px] absolute text-black text-[26.190475463867188px] font-semibold">KES 2,300</div>
    <div class="YourCart left-[698px] top-[70px] absolute text-black text-[34px] font-bold">Your Cart</div>
    <div class="TechnologyAndTheFutureOfAI left-[917px] top-[206px] absolute text-indigo-950 text-[24px] font-bold">Technology and the <br/>Future of A.I</div>
    <div class="AdvanceX1 left-[1232px] top-[206px] absolute text-indigo-950 text-[20px] font-medium">ADVANCE x1</div>
    <div class="Kes2300 left-[1255px] top-[245px] absolute text-indigo-950 text-[20px] font-medium">KES 2,300</div>
    <img class="Rectangle26 w-[191px] h-[89px] left-[704px] top-[190px] absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/191x89" />
    <div class="Ellipse1 w-10 h-10 left-[1401px] top-[70px] absolute origin-top-left -rotate-180 bg-red-500 rounded-full border border-white"></div>
    <div class="X left-[1370px] top-[33px] absolute text-white text-[27px] font-bold">X</div>
  </div>
</body>
</html>