<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="CheckoutPage w-[1440px] h-[1252px] relative bg-white">
    <div class="Rectangle14 w-[1440px] h-[60px] left-0 top-0 absolute bg-white border border border border border-zinc-300"></div>
    <div class="Vivavents left-[47px] top-[9px] absolute text-red-500 text-[33px] font-bold lowercase">VivaVents</div>
    <div class="Rectangle15 w-[550px] h-[42px] left-[253px] top-[9px] absolute bg-stone-900 bg-opacity-10 rounded"></div>
    <div class="SearchEvents left-[308px] top-[16px] absolute text-stone-900 text-opacity-40 text-[20px] font-semibold">Search events</div>
    <div class="Group25 w-12 h-[30px] left-[1267px] top-[15px] absolute">
      <div class="Group24 w-[30px] h-[30px] left-0 top-0 absolute">
      </div>
      <div class="Ellipse2 w-5 h-5 left-[28px] top-[5px] absolute bg-white rounded-full border border-red-500"></div>
      <div class=" left-[32px] top-[4px] absolute text-black text-[18px] font-bold lowercase">2</div>
    </div>
    <div class="Rectangle16 w-[973px] h-[695px] left-0 top-[1033px] absolute origin-top-left -rotate-90 bg-zinc-300 bg-opacity-20 border border border border border-zinc-300"></div>
    <div class="Rectangle28 w-[1440px] h-[220px] left-0 top-[1032px] absolute bg-indigo-950"></div>
    <div class="BuyTickets left-[47px] top-[1079px] absolute text-white text-[20px] font-bold">BUY TICKETS</div>
    <div class="SellTickets left-[423px] top-[1079px] absolute text-white text-[20px] font-bold">SELL TICKETS</div>
    <div class="ContactUs left-[808px] top-[1079px] absolute text-white text-[20px] font-bold">CONTACT US</div>
    <div class="YourAccount left-[1178px] top-[1079px] absolute text-white text-[20px] font-bold">YOUR ACCOUNT</div>
    <div class="Vivavents left-[640px] top-[1207px] absolute text-red-500 text-[33px] font-bold lowercase">VivaVents</div>
    <div class="Rectangle35 w-[568px] h-[42px] left-[63px] top-[374px] absolute bg-white rounded"></div>
    <div class="Subtotal left-[81px] top-[381px] absolute text-black text-[20px] font-semibold">SUBTOTAL</div>
    <div class="Kes2300 left-[535px] top-[381px] absolute text-black text-[20px] font-semibold">KES 2,300</div>
    <div class="TechnologyAndTheFutureOfAI left-[193px] top-[229px] absolute text-indigo-950 text-[24px] font-bold">Technology and the <br/>Future of A.I</div>
    <div class="AdvanceX1 left-[509px] top-[229px] absolute text-indigo-950 text-[20px] font-medium">ADVANCE x1</div>
    <div class="Kes2300 left-[531px] top-[268px] absolute text-indigo-950 text-[20px] font-medium">KES 2,300</div>
    <div class="Group1 w-[569px] h-[60px] left-[746px] top-[362px] absolute">
      <div class="Rectangle8 w-[569px] h-[60px] left-0 top-0 absolute bg-white rounded border border border border border-gray-700 border-opacity-20"></div>
      <div class="EmailAddress w-[127.01px] h-[25.26px] left-[11.43px] top-[5.26px] absolute text-gray-700 text-opacity-50 text-[17px] font-normal">Email address</div>
      <div class="MyJohnDoeMailGmailCom w-[288.31px] h-[25.26px] left-[11.43px] top-[28.42px] absolute text-indigo-950 text-opacity-95 text-[17px] font-normal">my_john_doe_mail@gmail.com</div>
    </div>
    <div class="Group5 w-[279px] h-[60px] left-[746px] top-[292px] absolute">
      <div class="Rectangle8 w-[279px] h-[60px] left-0 top-0 absolute bg-white rounded border border border border border-gray-700 border-opacity-20"></div>
      <div class="YourName w-[150.57px] h-[25.26px] left-[13.55px] top-[5.26px] absolute text-gray-700 text-opacity-50 text-[17px] font-normal">Your Name</div>
      <div class="JohnDoe w-[107.87px] left-[13.55px] top-[28.42px] absolute text-indigo-950 text-opacity-95 text-[17px] font-normal">John Doe</div>
    </div>
    <div class="Group8 w-[279px] h-[60px] left-[746px] top-[502px] absolute">
      <div class="Rectangle8 w-[279px] h-[60px] left-0 top-0 absolute bg-white rounded border border border border border-gray-700 border-opacity-20"></div>
      <div class="PaymentMethod w-[131.99px] left-[14.54px] top-[5.26px] absolute text-gray-700 text-opacity-50 text-[17px] font-normal">Payment method</div>
      <div class="Mpesa w-[53.65px] left-[14.54px] top-[28.42px] absolute text-indigo-950 text-opacity-95 text-[17px] font-normal">MPESA</div>
      <div class="EpArrowUpBold w-[25px] h-[25px] left-[264px] top-[53px] absolute origin-top-left -rotate-180"></div>
    </div>
    <div class="EpArrowUpBold w-[26px] h-[26px] left-[37px] top-[198px] absolute origin-top-left -rotate-90 flex-col justify-start items-start flex"></div>
    <div class="Group7 w-[280px] h-[60px] left-[1035px] top-[292px] absolute">
      <div class="Rectangle8 w-[280px] h-[60px] left-0 top-0 absolute bg-white rounded border border border border border-gray-700 border-opacity-20"></div>
      <div class="PhoneNumber w-[138.86px] left-[11.57px] top-[5.26px] absolute text-gray-700 text-opacity-50 text-[17px] font-normal">Phone Number</div>
      <div class="345678 left-[90.57px] top-[29px] absolute text-indigo-950 text-opacity-95 text-[17px] font-normal">712-345-678</div>
      <div class="254 w-[43.71px] left-[48.86px] top-[29px] absolute text-indigo-950 text-opacity-95 text-[17px] font-normal">+254</div>
      <img class="Image5 w-[28.29px] h-[22px] left-[11.57px] top-[30px] absolute" src="https://via.placeholder.com/28x22" />
    </div>
    <div class="Group38 w-[280px] h-[60px] left-[1035px] top-[502px] absolute">
      <div class="Rectangle8 w-[280px] h-[60px] left-0 top-0 absolute bg-white rounded border border border border border-gray-700 border-opacity-20"></div>
      <div class="MpesaNumber w-[138.86px] left-[11.57px] top-[5.26px] absolute text-gray-700 text-opacity-50 text-[17px] font-normal">MPESA Number</div>
      <div class="345678 left-[90.57px] top-[29px] absolute text-indigo-950 text-opacity-95 text-[17px] font-normal">712-345-678</div>
      <div class="254 w-[43.71px] left-[48.86px] top-[29px] absolute text-indigo-950 text-opacity-95 text-[17px] font-normal">+254</div>
      <img class="Image5 w-[28.29px] h-[22px] left-[11.57px] top-[30px] absolute" src="https://via.placeholder.com/28x22" />
    </div>
    <div class="Group10 w-[569px] h-[50px] left-[746px] top-[582px] absolute">
      <div class="Rectangle9 w-[569px] h-[50px] left-0 top-0 absolute bg-red-500 rounded"></div>
      <div class="CompletePayment left-[192px] top-[13px] absolute text-white text-[20px] font-bold">Complete Payment</div>
    </div>
    <div class="OrderSummary left-[47px] top-[112px] absolute text-black text-[34px] font-bold">Order summary</div>
    <div class="Group50 w-[133px] h-[42px] left-[1123px] top-[9px] absolute">
      <div class="Rectangle36 w-[133px] h-[42px] left-0 top-0 absolute bg-red-500 bg-opacity-25 rounded"></div>
      <div class="Group49 w-[108px] h-6 left-[13px] top-[9px] absolute">
        <div class="Account left-[27px] top-0 absolute text-red-500 text-[19px] font-bold">Account</div>
      </div>
    </div>
    <div class="ContinueShopping left-[67px] top-[170px] absolute text-gray-700 text-opacity-50 text-[23px] font-normal">Continue Shopping</div>
    <div class="Cart left-[746px] top-[187px] absolute text-gray-700 text-opacity-50 text-[23px] font-normal">Cart</div>
    <div class="PaymentConfirmation left-[969px] top-[187px] absolute text-gray-700 text-opacity-50 text-[23px] font-normal">Payment Confirmation</div>
    <div class="Information left-[818px] top-[187px] absolute text-indigo-950 text-[23px] font-normal">Information</div>
    <div class="ContactInformation left-[746px] top-[242px] absolute text-indigo-950 text-[30px] font-normal">Contact Information</div>
    <div class="PaymentInformation left-[746px] top-[454px] absolute text-indigo-950 text-[30px] font-normal">Payment Information</div>
    <div class="Group37 w-[129px] h-[69px] left-[50px] top-[223px] absolute">
      <div class="Rectangle36 w-[129px] h-[69px] left-0 top-0 absolute bg-zinc-300 rounded"></div>
      <img class="Rectangle26 w-[191px] h-[89px] left-[-27px] top-[-10px] absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/191x89" />
    </div>
    <div class="Group51 w-[133px] h-[42px] left-[970px] top-[9px] absolute">
      <div class="Rectangle9 w-[133px] h-[42px] left-0 top-0 absolute bg-red-500 bg-opacity-25 rounded"></div>
      <div class="Group47 w-[114px] h-[27.75px] left-[10px] top-[8px] absolute">
        <div class="Wishlist left-[32px] top-[2px] absolute text-red-500 text-[19px] font-bold">Wishlist</div>
        <div class="PhHeartLight w-[27.75px] h-[27.75px] left-0 top-0 absolute flex-col justify-start items-start inline-flex"></div>
      </div>
    </div>
  </div>
</body>
</html>