<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="OrderCompletePage w-[1440px] h-[1252px] relative bg-white">
    <div class="Rectangle14 w-[1440px] h-[60px] left-0 top-0 absolute bg-white border border border border border-zinc-300"></div>
    <div class="Vivavents left-[47px] top-[9px] absolute text-red-500 text-[33px] font-bold lowercase">VivaVents</div>
    <div class="Rectangle15 w-[550px] h-[42px] left-[253px] top-[9px] absolute bg-stone-900 bg-opacity-10 rounded"></div>
    <div class="SearchEvents left-[308px] top-[16px] absolute text-stone-900 text-opacity-40 text-[20px] font-semibold">Search events</div>
    <div class="Group25 w-12 h-[30px] left-[1267px] top-[15px] absolute">
      <div class="Group24 w-[30px] h-[30px] left-0 top-0 absolute">
      </div>
      <div class="Ellipse2 w-5 h-5 left-[28px] top-[5px] absolute bg-white rounded-full border border-red-500"></div>
      <div class=" left-[32px] top-[4px] absolute text-black text-[18px] font-bold lowercase">2</div>
    </div>
    <div class="Rectangle28 w-[1440px] h-[220px] left-0 top-[1032px] absolute bg-indigo-950"></div>
    <div class="BuyTickets left-[47px] top-[1079px] absolute text-white text-[20px] font-bold">BUY TICKETS</div>
    <div class="SellTickets left-[423px] top-[1079px] absolute text-white text-[20px] font-bold">SELL TICKETS</div>
    <div class="ContactUs left-[808px] top-[1079px] absolute text-white text-[20px] font-bold">CONTACT US</div>
    <div class="YourAccount left-[1178px] top-[1079px] absolute text-white text-[20px] font-bold">YOUR ACCOUNT</div>
    <div class="Vivavents left-[640px] top-[1207px] absolute text-red-500 text-[33px] font-bold lowercase">VivaVents</div>
    <div class="Group50 w-[133px] h-[42px] left-[1123px] top-[9px] absolute">
      <div class="Rectangle36 w-[133px] h-[42px] left-0 top-0 absolute bg-red-500 bg-opacity-25 rounded"></div>
      <div class="Group49 w-[108px] h-6 left-[13px] top-[9px] absolute">
        <div class="Account left-[27px] top-0 absolute text-red-500 text-[19px] font-bold">Account</div>
      </div>
    </div>
    <div class="Group51 w-[133px] h-[42px] left-[970px] top-[9px] absolute">
      <div class="Rectangle9 w-[133px] h-[42px] left-0 top-0 absolute bg-red-500 bg-opacity-25 rounded"></div>
      <div class="Group47 w-[114px] h-[27.75px] left-[10px] top-[8px] absolute">
        <div class="Wishlist left-[32px] top-[2px] absolute text-red-500 text-[19px] font-bold">Wishlist</div>
        <div class="PhHeartLight w-[27.75px] h-[27.75px] left-0 top-0 absolute flex-col justify-start items-start inline-flex"></div>
      </div>
    </div>
    <div class="OrderCompleted w-[412px] h-[67px] left-[54px] top-[121px] absolute text-black text-[34px] font-bold">Order completed</div>
  </div>
</body>
</html>