<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="SingleEvent w-[1440px] h-[1253px] relative bg-white">
    <div class="Rectangle14 w-[1440px] h-[60px] left-0 top-0 absolute bg-white border border border border border-zinc-300"></div>
    <div class="Group50 w-[133px] h-[42px] left-[1149px] top-[9px] absolute">
      <div class="Rectangle36 w-[133px] h-[42px] left-0 top-0 absolute bg-red-500 bg-opacity-25 rounded"></div>
      <div class="Group49 w-[108px] h-6 left-[13px] top-[9px] absolute">
        <div class="Account left-[27px] top-0 absolute text-red-500 text-[19px] font-bold">Account</div>
      </div>
    </div>
    <div class="Group51 w-[133px] h-[42px] left-[996px] top-[9px] absolute">
      <div class="Rectangle9 w-[133px] h-[42px] left-0 top-0 absolute bg-red-500 bg-opacity-25 rounded"></div>
      <div class="Group47 w-[114px] h-[27.75px] left-[10px] top-[8px] absolute">
        <div class="Wishlist left-[32px] top-[2px] absolute text-red-500 text-[19px] font-bold">Wishlist</div>
        <div class="PhHeartLight w-[27.75px] h-[27.75px] left-0 top-0 absolute flex-col justify-start items-start inline-flex"></div>
      </div>
    </div>
    <div class="Rectangle16 w-[973px] h-[728px] left-0 top-[1033px] absolute origin-top-left -rotate-90 bg-zinc-300 bg-opacity-20 border border border border border-zinc-300"></div>
    <div class="Vivavents left-[47px] top-[9px] absolute text-red-500 text-[33px] font-bold lowercase">VivaVents</div>
    <div class="Rectangle15 w-[550px] h-[42px] left-[253px] top-[9px] absolute bg-stone-900 bg-opacity-10 rounded"></div>
    <div class="Rectangle35 w-[568px] h-[42px] left-[787px] top-[688px] absolute bg-zinc-300 bg-opacity-50 rounded"></div>
    <div class="Group15 w-[651px] h-[651px] left-[32px] top-[98px] absolute">
      <img class="Rectangle17 w-[651px] h-[651px] left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/651x651" />
      <img class="Image6 w-[647.55px] h-[651px] left-[2.36px] top-0 absolute" src="https://via.placeholder.com/648x651" />
    </div>
    <div class="SearchEvents left-[308px] top-[16px] absolute text-stone-900 text-opacity-40 text-[20px] font-semibold">Search events</div>
    <div class="Subtotal left-[805px] top-[695px] absolute text-black text-[20px] font-semibold">SUBTOTAL</div>
    <div class="Kes0 left-[1276px] top-[695px] absolute text-black text-[20px] font-semibold">KES 0</div>
    <div class="Group18 w-[511px] h-[129px] left-[787px] top-[98px] absolute">
      <div class="Rectangle18 w-[79px] h-[129px] left-0 top-0 absolute bg-white rounded shadow"></div>
      <div class="Sun left-[16px] top-[7px] absolute text-red-500 text-[20px] font-bold">SUN</div>
      <div class=" left-[14px] top-[34px] absolute text-indigo-950 text-[40px] font-bold">25</div>
      <div class="TechnologyAndTheFutureOfAI left-[115px] top-[17px] absolute text-indigo-950 text-[40px] font-bold">Technology and the <br/>Future of A.I</div>
      <div class="Jun left-[18px] top-[84px] absolute text-indigo-950 text-[27px] font-normal">Jun</div>
    </div>
    <div class="ACelebrationOfWorldYogaDayByBringingTogetherLikeMindedIndividualsWhoPracticeYogaAtAnyLevelForAMorningOfYogaFunAndEnlightenmentComeReadyToFlowShopAndNetworkYourTicketPurchaseIsInclusiveOfBreakfast left-[32px] top-[836px] absolute text-black text-[20px] font-normal">A celebration of world Yoga day. By bringing together like minded <br/>individuals who practice Yoga at any level for a morning of Yoga, fun <br/>and enlightenment. Come ready to flow, shop and network.<br/><br/>Your ticket purchase is inclusive of breakfast.</div>
    <div class="AboutTheEvent left-[32px] top-[801px] absolute text-black text-[20px] font-bold">ABOUT THE EVENT</div>
    <div class="TicketsAvailable left-[794px] top-[466px] absolute text-black text-[20px] font-bold">TICKETS AVAILABLE</div>
    <div class="Group17 w-[327px] h-[95px] left-[794px] top-[265px] absolute">
      <div class="IhubSenteuPlaza left-[32px] top-0 absolute text-red-500 text-[20px] font-semibold">iHub Senteu Plaza</div>
      <div class="00Am1000Am left-[32px] top-[36px] absolute text-black text-[20px] font-normal uppercase">08:00 am - 10:00 am</div>
      <div class="SatJun252023SatJun252023 left-[32px] top-[67px] absolute text-black text-[20px] font-normal">Sat, Jun 25, 2023 - Sat, Jun 25, 2023</div>
      <div class="Group16 w-5 h-5 left-0 top-[2px] absolute">
      </div>
    </div>
    <div class="Group21 w-[203px] h-12 left-[826px] top-[773px] absolute">
      <div class="Rectangle20 w-[200px] h-[45px] left-0 top-[3px] absolute bg-white rounded border border border border border-gray-700 border-opacity-50"></div>
      <div class="Rectangle19 w-[200px] h-[45px] left-[3px] top-0 absolute bg-red-500 rounded"></div>
      <div class="AddToCart left-[55px] top-[9px] absolute text-white text-[20px] font-semibold">Add To Cart</div>
    </div>
    <div class="Group22 w-[204px] h-12 left-[1065px] top-[773px] absolute">
      <div class="Rectangle20 w-[200px] h-[45px] left-0 top-[3px] absolute bg-white rounded border border border border border-gray-700 border-opacity-50"></div>
      <div class="Rectangle19 w-[200px] h-[45px] left-[4px] top-0 absolute bg-indigo-950 rounded border border border border border-indigo-950"></div>
      <div class="CheckoutNow left-[42px] top-[9px] absolute text-white text-[20px] font-semibold">Checkout Now</div>
    </div>
    <div class="Group25 w-12 h-[30px] left-[1307px] top-[15px] absolute">
      <div class="Group24 w-[30px] h-[30px] left-0 top-0 absolute">
      </div>
      <div class="Ellipse2 w-5 h-5 left-[28px] top-[5px] absolute bg-white rounded-full border border-red-500"></div>
      <div class=" left-[32px] top-[4px] absolute text-black text-[18px] font-bold lowercase">2</div>
    </div>
    <div class="Rectangle28 w-[1440px] h-[220px] left-0 top-[1033px] absolute bg-indigo-950"></div>
    <div class="BuyTickets left-[47px] top-[1080px] absolute text-white text-[20px] font-bold">BUY TICKETS</div>
    <div class="SellTickets left-[423px] top-[1080px] absolute text-white text-[20px] font-bold">SELL TICKETS</div>
    <div class="ContactUs left-[808px] top-[1080px] absolute text-white text-[20px] font-bold">CONTACT US</div>
    <div class="YourAccount left-[1178px] top-[1080px] absolute text-white text-[20px] font-bold">YOUR ACCOUNT</div>
    <div class="Vivavents left-[640px] top-[1208px] absolute text-red-500 text-[33px] font-bold lowercase">VivaVents</div>
    <div class="By left-[796px] top-[385px] absolute text-black text-[20px] font-normal">BY:</div>
    <div class="WomenInTech left-[826px] top-[385px] absolute text-red-500 text-[20px] font-semibold">Women in Tech</div>
    <div class="Rectangle31 w-[327px] h-[132px] left-[794px] top-[509px] absolute bg-white rounded border border border border border-red-500"></div>
    <div class="Rectangle32 w-[1px] h-[132px] left-[1080px] top-[509px] absolute origin-top-left rotate-180 bg-white border border border border border-red-500"></div>
    <div class="AdvanceTickets left-[805px] top-[515px] absolute text-black text-[16px] font-semibold">Advance Tickets</div>
    <div class="Kes2300 left-[805px] top-[543px] absolute text-black text-[20px] font-semibold">KES. 2,300</div>
    <div class="ValidOn left-[805px] top-[591px] absolute text-black text-[16px] font-normal">Valid on</div>
    <div class="SatJun242023StartsAt0800Am left-[806px] top-[610px] absolute text-black text-[16px] font-normal">Sat, Jun 24, 2023 / Starts at 08:00 AM</div>
    <div class="Rectangle33 w-5 h-5 left-[1090px] top-[513px] absolute bg-white rounded border border border border border-red-500"></div>
    <div class="Rectangle34 w-5 h-5 left-[1090px] top-[616px] absolute bg-white rounded border border border border border-red-500"></div>
    <div class=" left-[1093px] top-[511px] absolute text-indigo-950 text-[20px] font-bold">+</div>
    <div class=" left-[1096px] top-[614px] absolute text-indigo-950 text-[20px] font-bold">-</div>
    <div class=" left-[1096px] top-[563px] absolute text-indigo-950 text-[20px] font-bold">1</div>
  </div>
</body>
</html>