<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="g_id_onload"
     data-client_id="692921091599-bveh9c74s4l517dvmrb6b9ik9rcvq44q.apps.googleusercontent.com"
     data-context="signup"
     data-ux_mode="popup"
     data-callback="signIn"
     data-nonce=""
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
</body>
</html>