<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="LandingPage w-[1440px] h-[2386px] relative bg-white">
    <div class="Rectangle14 w-[1440px] h-[60px] left-0 top-0 absolute bg-white border border border border border-zinc-300"></div>
    <div class="Group50 w-[133px] h-[42px] left-[1152px] top-[9px] absolute">
      <div class="Rectangle36 w-[133px] h-[42px] left-0 top-0 absolute bg-red-500 bg-opacity-25 rounded"></div>
      <div class="Group49 w-[108px] h-6 left-[13px] top-[9px] absolute">
        <div class="Account left-[27px] top-0 absolute text-red-500 text-[19px] font-bold">Account</div>
      </div>
    </div>
    <div class="Group51 w-[133px] h-[42px] left-[999px] top-[9px] absolute">
      <div class="Rectangle9 w-[133px] h-[42px] left-0 top-0 absolute bg-red-500 bg-opacity-25 rounded"></div>
      <div class="Group47 w-[114px] h-[27.75px] left-[10px] top-[8px] absolute">
        <div class="Wishlist left-[32px] top-[2px] absolute text-red-500 text-[19px] font-bold">Wishlist</div>
        <div class="PhHeartLight w-[27.75px] h-[27.75px] left-0 top-0 absolute flex-col justify-start items-start inline-flex"></div>
      </div>
    </div>
    <div class="Rectangle16 w-[1440px] h-[1px] left-0 top-[604px] absolute bg-white border border border border border-zinc-300"></div>
    <div class="Vivavents left-[47px] top-[9px] absolute text-red-500 text-[33px] font-bold lowercase">VivaVents</div>
    <div class="Rectangle15 w-[550px] h-[42px] left-[253px] top-[9px] absolute bg-stone-900 bg-opacity-10 rounded"></div>
    <div class="Group13 w-10 h-10 left-[47px] top-[302px] absolute">
      <div class="Ellipse1 w-10 h-10 left-0 top-0 absolute bg-red-500 rounded-full border border-white"></div>
      <div class="EpArrowUpBold w-[26px] h-[26px] left-[7px] top-[33px] absolute origin-top-left -rotate-90"></div>
    </div>
    {% if message == 'success' %}
        <p>Successfully logged in.</p>
    {% endif %}
    <div class="Group14 origin-top-left -rotate-180 w-10 h-10 left-[1355px] top-[342px] absolute">
      <div class="Ellipse1 w-10 h-10 left-0 top-0 absolute origin-top-left -rotate-180 bg-red-500 rounded-full border border-white"></div>
      <div class="EpArrowUpBold w-[26px] h-[26px] left-[-7px] top-[-33px] absolute origin-top-left rotate-90"></div>
    </div>
    <div class="Group15 w-[400px] h-[400px] left-[866px] top-[125px] absolute">
      <img class="Rectangle17 w-[400px] h-[400px] left-0 top-0 absolute rounded" src="https://via.placeholder.com/400x400" />
      <img class="Image6 w-[397.88px] h-[400px] left-[1.45px] top-0 absolute" src="https://via.placeholder.com/398x400" />
    </div>
    <div class="SearchEvents left-[308px] top-[16px] absolute text-stone-900 text-opacity-40 text-[20px] font-semibold">Search events</div>
    <div class="Group18 w-[511px] h-[129px] left-[168px] top-[122px] absolute">
      <div class="Rectangle18 w-[79px] h-[129px] left-0 top-0 absolute bg-white rounded shadow"></div>
      <div class="Sun left-[16px] top-[7px] absolute text-red-500 text-[20px] font-bold">SUN</div>
      <div class=" left-[14px] top-[34px] absolute text-indigo-950 text-[40px] font-bold">25</div>
      <div class="TechnologyAndTheFutureOfAI left-[115px] top-[17px] absolute text-indigo-950 text-[40px] font-bold">Technology and the <br/>Future of A.I</div>
      <div class="Jun left-[18px] top-[84px] absolute text-indigo-950 text-[27px] font-normal">Jun</div>
    </div>
    <div class="ACelebrationOfWorldYogaDayByBringingTogetherLikeMindedIndividualsWhoPracticeYogaAtAnyLevelForAMorningOfYogaFunAndEnlightenmentComeReadyToFlowShopAndNetwork left-[168px] top-[355px] absolute text-black text-[20px] font-normal">A celebration of world Yoga day. by bringing together like minded <br/>individuals who practice Yoga at any level for a morning of Yoga, fun <br/>and enlightenment. Come ready to flow, shop and network ...</div>
    <div class="Group17 w-[205px] h-16 left-[168px] top-[271px] absolute">
      <div class="IhubSenteuPlaza left-[32px] top-0 absolute text-black text-[20px] font-normal uppercase">iHub SENTEU PLAZA</div>
      <div class="00Am1000Am left-[32px] top-[36px] absolute text-black text-[20px] font-normal uppercase">08:00 am - 10:00 am</div>
      <div class="Group16 w-5 h-5 left-0 top-[2px] absolute">
      </div>
    </div>
    <div class="Group21 w-[203px] h-12 left-[174px] top-[479px] absolute">
      <div class="Rectangle20 w-[200px] h-[45px] left-0 top-[3px] absolute bg-white rounded border border border border border-gray-700 border-opacity-50"></div>
      <div class="Rectangle19 w-[200px] h-[45px] left-[3px] top-0 absolute bg-red-500 rounded"></div>
      <div class="GetTickets left-[55px] top-[9px] absolute text-white text-[20px] font-semibold">Get Tickets</div>
    </div>
    <div class="Group22 w-[204px] h-12 left-[413px] top-[479px] absolute">
      <div class="Rectangle20 w-[200px] h-[45px] left-0 top-[3px] absolute bg-white rounded border border border border border-gray-700 border-opacity-50"></div>
      <div class="Rectangle19 w-[200px] h-[45px] left-[4px] top-0 absolute bg-indigo-950 rounded border border border border border-indigo-950"></div>
      <div class="Group20 w-[157px] h-7 left-[25px] top-[9px] absolute">
        <div class="AddToCalendar left-0 top-0 absolute text-white text-[20px] font-semibold">Add to Calendar</div>
      </div>
    </div>
    <div class="Group25 w-12 h-[30px] left-[1307px] top-[15px] absolute">
      <div class="Group24 w-[30px] h-[30px] left-0 top-0 absolute">
      </div>
      <div class="Ellipse2 w-5 h-5 left-[28px] top-[5px] absolute bg-white rounded-full border border-red-500"></div>
      <div class=" left-[32px] top-[4px] absolute text-black text-[18px] font-bold lowercase">2</div>
    </div>
    <div class="Rectangle21 w-[1308px] h-[99px] left-[47px] top-[626px] absolute bg-white rounded shadow border border border border border-zinc-300"></div>
    <div class="Group26 w-[203px] h-12 left-[1111px] top-[663px] absolute">
      <div class="Rectangle20 w-[200px] h-[45px] left-0 top-[3px] absolute bg-white rounded border border border border border-gray-700 border-opacity-50"></div>
      <div class="Rectangle19 w-[200px] h-[45px] left-[3px] top-0 absolute bg-red-500 rounded"></div>
      <div class="Filter left-[74px] top-[9px] absolute text-white text-[20px] font-semibold">FILTER</div>
    </div>
    <div class="Rectangle22 w-[203px] h-[43px] left-[61px] top-[668px] absolute bg-white rounded border border border border border-red-500"></div>
    <div class="Rectangle23 w-[203px] h-[43px] left-[314px] top-[668px] absolute bg-white rounded border border border border border-indigo-950"></div>
    <div class="Rectangle24 w-[203px] h-[43px] left-[567px] top-[668px] absolute bg-white rounded border border border border border-red-500"></div>
    <div class="Rectangle25 w-[203px] h-[43px] left-[820px] top-[668px] absolute bg-white rounded border border border border border-indigo-950"></div>
    <div class="Country left-[61px] top-[636px] absolute text-gray-700 text-opacity-50 text-[20px] font-semibold">Country</div>
    <div class="Date left-[314px] top-[636px] absolute text-gray-700 text-opacity-50 text-[20px] font-semibold">Date</div>
    <div class="Category left-[567px] top-[636px] absolute text-gray-700 text-opacity-50 text-[20px] font-semibold">Category</div>
    <div class="SortBy left-[820px] top-[636px] absolute text-gray-700 text-opacity-50 text-[20px] font-semibold">Sort by</div>
    <div class="EpArrowUpBold w-[25px] h-[25px] left-[251px] top-[702px] absolute origin-top-left -rotate-180"></div>
    <div class="EpArrowUpBold w-[25px] h-[25px] left-[759px] top-[702px] absolute origin-top-left -rotate-180"></div>
    <div class="EpArrowUpBold w-[25px] h-[25px] left-[422px] top-[677px] absolute origin-top-left rotate-90"></div>
    <div class="EpArrowUpBold w-[25px] h-[25px] left-[1008px] top-[702px] absolute origin-top-left -rotate-180"></div>
    <div class="Kenya left-[72px] top-[676px] absolute text-indigo-950 text-[20px] font-semibold">Kenya</div>
    <div class="Start left-[328px] top-[676px] absolute text-indigo-950 text-[20px] font-semibold">Start</div>
    <div class="End left-[448px] top-[676px] absolute text-indigo-950 text-[20px] font-semibold">End</div>
    <div class="AllEvents left-[583px] top-[676px] absolute text-indigo-950 text-[20px] font-semibold">All events</div>
    <div class="Upcoming left-[834px] top-[676px] absolute text-indigo-950 text-[20px] font-semibold">Upcoming</div>
    <div class="Group27 w-[310px] h-[433px] left-[47px] top-[788px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group28 w-[310px] h-[433px] left-[380px] top-[788px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group29 w-[310px] h-[433px] left-[713px] top-[788px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group30 w-[310px] h-[433px] left-[1046px] top-[788px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group31 w-[310px] h-[433px] left-[47px] top-[1244px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group32 w-[310px] h-[433px] left-[380px] top-[1244px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group33 w-[310px] h-[433px] left-[713px] top-[1244px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group34 w-[310px] h-[433px] left-[1046px] top-[1244px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group31 w-[310px] h-[433px] left-[47px] top-[1700px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group32 w-[310px] h-[433px] left-[380px] top-[1700px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group33 w-[310px] h-[433px] left-[713px] top-[1700px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Group34 w-[310px] h-[433px] left-[1046px] top-[1700px] absolute">
      <div class="Rectangle27 w-[310px] h-[433px] left-0 top-0 absolute bg-white rounded border border border border border-zinc-300"></div>
      <img class="Rectangle26 w-[310px] h-[168px] left-0 top-0 absolute rounded-tl rounded-tr border border border border border-zinc-300" src="https://via.placeholder.com/310x168" />
      <div class="Ellipse3 w-10 h-10 left-[257px] top-[147px] absolute bg-white rounded-full border border-zinc-300"></div>
      <div class="PhHeart w-[22px] h-[22px] left-[266px] top-[157px] absolute"></div>
      <div class="EastAfricaBakeryAndPastryExpo2023 left-[14px] top-[188px] absolute text-indigo-950 text-[20px] font-semibold">East Africa Bakery and Pastry<br/>Expo 2023</div>
      <div class="WedJun280900Am left-[15px] top-[254px] absolute text-red-500 text-[18px] font-normal">Wed, Jun 28, 09:00 AM</div>
      <div class="SaritCentreMallWestlandsNairobi left-[14px] top-[281px] absolute text-indigo-950 text-[20px] font-normal">Sarit centre mall • Westlands,<br/>Nairobi</div>
      <div class="ChefMediaLtd left-[14px] top-[389px] absolute text-indigo-950 text-[20px] font-semibold">CHEF MEDIA LTD</div>
    </div>
    <div class="Kes1500 left-[61px] top-[1135px] absolute text-indigo-950 text-[18px] font-semibold">Kes 1,500</div>
    <div class="Rectangle28 w-[1440px] h-[220px] left-0 top-[2166px] absolute bg-indigo-950"></div>
    <div class="BuyTickets left-[47px] top-[2213px] absolute text-white text-[20px] font-bold">BUY TICKETS</div>
    <div class="SellTickets left-[423px] top-[2213px] absolute text-white text-[20px] font-bold">SELL TICKETS</div>
    <div class="ContactUs left-[808px] top-[2213px] absolute text-white text-[20px] font-bold">CONTACT US</div>
    <div class="YourAccount left-[1178px] top-[2213px] absolute text-white text-[20px] font-bold">YOUR ACCOUNT</div>
    <div class="Vivavents left-[640px] top-[2338px] absolute text-red-500 text-[33px] font-bold lowercase">VivaVents</div>
  </div>
</body>
</html>
